/* General */
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #121124;
  color: #ffffff;
  overflow: hidden;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

/* Contenedor del reproductor */
.video-container {
  flex: 1;
  background: black;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor de lista de canales */
.channels-container {
  width: 30%; /* Aumenté el ancho para evitar scroll horizontal */
  background: rgba(0, 0, 0, 0.7);
  overflow-x: hidden; /* Evita el scroll horizontal */
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  scrollbar-width: none; /* Oculta scrollbar en Firefox */
}

.channel-list {
  list-style: none;
  padding: 2vh;
  margin: 0;
  overflow-y: auto; /* Mantiene el scroll funcional aunque sea invisible */
  height: 100%;
  -ms-overflow-style: none; /* Oculta scrollbar en Edge */
}

.channel-list::-webkit-scrollbar {
  display: none; /* Oculta scrollbar en Chrome y Safari */
}

.channel-card {
  display: flex;
  align-items: center;
  padding: 10px;
  background: transparent;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;
  opacity: 0.5;
  outline: none;
  border: none;
}

.channel-card:hover,
.channel-card:focus {
  transform: scale(1.1);
  background: rgba(114, 8, 212, 0.2);
  opacity: 1;
}

.channel-card h2 {
  font-size: 1.2rem;
  margin-right: 10px;
  color: #fff;
}

.channel-card img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 10px;
  border-radius: 5px;
}

.channel-card p {
  margin: 0;
  font-size: 1rem;
  color: #fff;
}

.channel-list-title {
  font-size: 2.5vh;
  text-align: center;
  padding: 0 1.9rem;
}

/* Contenedor del tiempo */
.time-container {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  font-size: 4vh;
  z-index: 2;
  border-radius: 5px;
}

/* Asegurar que la opacidad se aplique correctamente */
.channels-container,
.time-container {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

/* Ajustes para pantallas grandes */
@media (min-width: 1250px) {
  .channel-card {
    padding: 10px;
    font-size: 1.1rem;
    margin-bottom: 22px;
  }

  .channel-card img {
    width: 4rem;
    height: 4rem;
  }
}

/* Layout vertical para pantallas pequeñas */
@media (max-width: 719px) {
  .container {
    flex-direction: column;
    height: 100%;
  }

  .video-container {
    height: 30%;
    width: 100%;
  }

  .channels-container {
    width: 100%;
    height: 70%;
    position: relative;
  }

  .time-container {
    display: none;
  }

  .channel-card {
    background: rgba(255, 255, 255, 0.1);
  }

  .channel-card:hover,
  .channel-card:focus {
    background: rgba(255, 255, 255, 0.2);
  }

  .channel-card p {
    margin: 0;
    font-size: 1rem;
  }

  .channel-list-title {
    display: none;
  }
}
