/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}

/* Fondo dinámico */
#background-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
    z-index: -1;
}

.background-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #121124 30%, rgba(0, 0, 0, 0.3));
    z-index: 1;
}
#imagen-1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para que la imagen cubra todo el contenedor */
    z-index: -2; /* Detrás del fondo */
  }
  #imagen-2{
    display: none;
  }

/* Botón Volver */
#back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 5vh;
    height: 5vh;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 3vh;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
    outline: none;
}

#back-button i {
    font-size: 3vh;
    color: #000;
}

#back-button:hover,
#back-button:focus {
    background-color: #e0b3ff;
    transform: scale(1.1);
}


/* Contenedor Principal */
#content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 12vh;
    padding-top: 10vh;
}

/* Movie Content */
#movie-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
    width: 60%;
}

#movie-title-image img {
    width: 45vh;
    height: auto;
}

#movie-title-text {
    font-size: 5vh;
    font-weight: bold;
    color: white;
    margin: 0;
}

.movie-description {
    font-size: 16px;
    color: #ddd;
    max-width: 600px;
    line-height: 1.5;
}

.movie-description p{
    font-size: 2.3vh;
}
.movie-details h4 {
    font-size: 2.3vh;
    color: #ccc;
    margin: 0;
    display: flex;
    gap: 15px;
}
.movie-details h4 span:not(#edad):not(#duracion-minutos)::before {
    content: '\2022'; /* Punto como icono */
    margin-right: 5px;
   color: #8a2be2;
  }
/* Géneros */
.genre {
    display: inline-block;
    border: 1.5px solid #8a2be2;
    border-radius: 15px;
    padding: 5px 10px;
    color: white;
    margin: 5px;
    background-color: transparent;
    font-size: 2vh;
    transition: background-color 0.3s, border-color 0.3s;
}

.genre:hover, .genre:focus {
    background-color: #6e6abd;
    border-color: #6e6abd;
}
.movie-rating {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #ccc;
}

/* Estilos para Rating */
.movie-rating .stars ion-icon {
    color: white;
    font-size: 2.5vh;
}
.movie-rating .stars {
    display: flex;
    gap: 5px; /* Espaciado entre las estrellas */
    font-size: 20px; /* Tamaño de las estrellas */
    color: gold;
}

/* Botón "Ver Ahora" */
.movie-buttons a {
    padding: 10px 20px;
    background-color: #8a2be2;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 2vh;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.movie-buttons i{
    font-size: 3vh;
}

.movie-buttons a:hover,
.movie-buttons a:focus {
    background-color: #6e23a6;
    transform: scale(1.1);
}

/* Movie Details and Buttons */
.movie-details-and-buttons {
    display: flex; /* Disposición en fila */
    align-items: center; /* Alinear verticalmente al centro */
    gap: 20px; /* Espaciado entre los elementos */
    flex-wrap: wrap; /* Permitir ajuste en pantallas pequeñas */
    margin-top: 10px; /* Separar del contenido superior */
}

.movie-buttons {
    display: flex; /* Mostrar botones en fila */
    gap: 10px; /* Espaciado entre botones */
    align-items: center;
}

.button-aditional {
    display: none;
}